.flex-margin-top {
  margin-top: 3vh;
}

.margin-top {
  margin-top: 20px;
}

.hidden {
  display: none;
}

button,
.pointer {
  cursor: pointer;
}

.parent {
  display: table;
  table-layout: fixed;
}

.child {
  display: table-cell;
  vertical-align: middle;
}

.center {
  text-align: center;
}